<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>SEEMode.UnityScript</string>
	<key>CFBundleName</key>
	<string>UnityScript</string>
	<key>NSHumanReadableCopyright</key>
	<string>2014 Takashi Saiga http://about.me/takashisaiga</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.2</string>
	<key>CFBundleVersion</key>
	<string>0.0.2</string>
	<key>CFBundleGetInfoString</key>
	<string>0.0.2, Copyright takashisaiga.jp 2014</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>SEEMinimumEngineVersion</key>
	<string>3.5</string>
</dict>
</plist>
