<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/UnityScript/AutodocComment</key>
	<string>AutodocComment</string>
	<key>/UnityScript/Characters</key>
	<string>_Default.Characters</string>
	<key>/UnityScript/Comment</key>
	<string>Comment</string>
	<key>/UnityScript/FunctionRegex</key>
	<string>_Default.FunctionRegex</string>
	<key>/UnityScript/Keywords</key>
	<string>_Default.Keywords</string>
	<key>/UnityScript/Numbers</key>
	<string>_Default.Numbers</string>
	<key>/UnityScript/Regular Expressions</key>
	<string>/Regular Expressions/</string>
	<key>/UnityScript/SingleComment</key>
	<string>SingleComment</string>
	<key>/UnityScript/SingleString</key>
	<string>SingleString</string>
	<key>/UnityScript/String</key>
	<string>String</string>
	<key>_Default</key>
	<string>_Default</string>
</dict>
</plist>
